label{
    user-select: none;
    cursor: pointer;
    line-height: 1em;
}

label:before{
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px #156d81;
    border-radius: 1em;
}

.track{
    background-color: #f4e060;
    transition: left 100ms;
    border-radius: 50%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
}

input[type=checkbox]{
    opacity: 0;
}

input[type=checkbox]:checked + .track{
    left: 1em;
}